[user]
	email = rod.stuchi@gmail.com
	name = Rodrigo Stuchi

[diff]
	tool = kdiff3
[merge]
	tool = kdiff3
[mergetool "kdiff3"]
	path = /usr/bin/kdiff3
	trustExitCode = false
[alias]
	rmmergebranch-dry = branch --merged=dev | grep -v '^[ *]*dev$'
	rmmergebranch = branch --merged=dev | grep -v '^[ *]*dev$'  | xargs git branch -d
