[submodule ".config/nvim_git"]
	path = .config/nvim_git
	url = https://github.com/neovim/neovim.git
[submodule ".config/package-query_git"]
	path = .config/package-query_git
	url = https://aur.archlinux.org/package-query.git
[submodule ".config/yaourt_git"]
	path = .config/yaourt_git
	url = https://aur.archlinux.org/yaourt.git
[submodule ".config/ranger_git"]
	path = .config/ranger_git
	url = https://github.com/ranger/ranger.git
[submodule ".config/trizen_git"]
	path = .config/trizen_git
	url = https://aur.archlinux.org/trizen.git
